@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,800&family=Roboto:ital,wght@0,300;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/4256852/pexels-photo-4256852.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fa-book-open {
  color: #d00000;
  float: left;
}
h1 {
  color: #d00000;
  font-family: "Poppins", "sans-serif";
}
.brandLine,
.btn-add {
  color: rgb(177, 161, 135);
}
.btn-add {
  font-family: "Roboto", "sans-serif";
  border: 2px solid blanchedalmond;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.bookAdd {
  /* font-size: 5rem;*/
  /* color: #023047;
  color: #d00000;*/
  text-align: center;
}
.fa-plus-circle {
  color: mintcream;
}
.yourBooks {
  /* background-color: #e5e5e5;*/
  /*  #d8e2dc;*/
  background: linear-gradient(rgba(32, 0, 32, 1), rgba(0, 0, 0, 1));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.card,
.demoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 10px;
  background-color: rgb(245, 245, 244);

  /*background-color: rgb(245, 245, 244);*/

  /*background: linear-gradient(
    to bottom right,
    #f3544e 0%,
    #f3544e 50%,
    #353336 50%,
    #39343d 100%
  );*/
  /*background: url("https://images.unsplash.com/photo-1533035353720-f1c6a75cd8ab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80")
    center center no-repeat;*/
}
.title {
  color: hsl(0, 100%, 41%);
  font-family: "Raleway", sans-serif;
}
span {
  padding-right: 12px;
  font-weight: 300;
  color: #111;
}
.div {
  color: #370617;
  font-weight: 600;
}

.remove {
  color: #fff;
  background-color: #d00000;
  border: none;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
}
.switch {
  position: relative;
  width: 70px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #e47328;*/
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  left: 4px;
  top: 4px;
  width: 15px;
  height: 15px; /* height: 26px;width: 26px;*/
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #f32160;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  transform: translateX(45px);
}
.slider.round {
  border-radius: 34px;
}
/*
.section2 {
  padding: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}*/
h2 {
  font-family: "Roboto", "sans-serif";
  color: #d00000;
  text-align: center;
  margin-bottom: 2em;
}
form {
  background-color: rgb(7, 7, 7);
  position: absolute;
  display: none;
  /*opacity: 0.9;*/
  background-attachment: scroll;
}
input {
  display: block;
  outline: 0;
  border-width: 0 0 1px;
  background-color: rgb(7, 7, 7);
  color: rgb(231, 13, 13);
  border-color: #ccc;
}
::placeholder {
  color: #ffff;
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffff;
}
.submit {
  border: none;
  color: #fff;
  margin: 0 auto;
  display: block;
  background-color: rgb(219, 7, 7);
}
@media (max-width: 575.98px) {
  header {
    padding: 1.3em;
  }
  .fa-book-open {
    font-size: 2rem;
    margin-top: 0.25em;
    margin-right: 0.3em;
  }
  h1 {
    font-size: 2rem;
  }
  .brandLine {
    font-size: 1.5rem; /*or set 25px*/
    margin: 5em 0.5em 0.7em 0.5em;
    text-align: center;
  }
  .btn-add {
    font-family: "Roboto", "sans-serif";
    font-size: 1.5rem;
    border: 2px solid blanchedalmond;
    margin: 0 auto;
    width: 170px; /*35vw;*/
    height: 50px; /*5vh;*/
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
  .yourBooks {
    padding: 1vh;
  }
  .yourBooks h2 {
    font-size: 2.5rem;
    padding: 4vh;
    /* border:1px solid red;
    outline:none;
    border-left: none;
    border-right: none;
    border-top: none;*/
  }
  .bookContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card,
  .demoCard {
    margin-bottom: 2em;
    width: 100%; /*width: 80vw;*/
    height: 60vh; /*height:80vh*/
    padding: /*1.2em;*/ 1em;
  }
  .title {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0.5em;
  }
  div {
    font-size: 1.8rem;
  }

  .remove {
    width: 100%;
    height: 8vh;
    font-size: 1.2rem;
  }
  .formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    width: 10em; /*14em*/
    height: 50%; /*60%;*/
    top: 370px;
    left: 20px;
    right: 20px;
    padding: 5px;
    opacity: 0.9;
    /*opacity: 0.9;/*
    display: flex; justify-content: center;  align-items: center;*/
  }
  input {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .submit {
    width: 50%;
    height: 10%;
    font-size: 15px;
    border-radius: 20px;
  }
}

input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  transform: translateX(45px);
}
.slider.round {
  border-radius: 34px;
}
@media only screen and (min-width: 576px) {
  header {
    padding: 2em;
  }
  .fa-book-open {
    font-size: 2.5rem;
    margin-right: 0.3em;
    margin-top: 0.3em;
  }
  h1 {
    font-size: 2.6rem;
    font-weight: 600;
  }
  .brandLine {
    font-size: 2rem;
    margin: 5em 0.5em 0.7em 0.5em;
    text-align: center;
  }
  .btn-add {
    height: 60px;
    width: 190px;
    padding: 1em;
    color: mintcream;
  }
  .yourBooks {
    padding: 5vh;
  }
  .yourBooks h2 {
    font-size: 3rem;
    padding: 6vh;
  }
  .card,
  .demoCard {
    margin-bottom: 2.2em;
    width: 100%; /*width:100%*/
    height: 70vh; /*80vh*/
    padding: 0.5em;
  }
  .title {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  .div {
    font-size: 2rem;
    margin-bottom: 6px;
  }
  .switch {
    width: 90px;
    height: 25px;
  }
  .slider::before {
    left: 5px;
    top: 5px;
    width: 18px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
  .remove {
    width: 15em;
    height: 10vh;
    font-size: 25px;
    letter-spacing: 2px;
    border-radius: 5px;
  }
  form {
    width: 22em;
    height: 60%;
    top: 70vw;
    left: 25vw;
  }
  input {
    margin: 35px;
    width: 18em;
    font-size: 1rem;
  }
  .submit {
    width: 55%;
    height: 12%;
    font-size: 16px;
    border-radius: 10px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }
  .fa-book-open {
    font-size: 3.5rem;
    margin-right: 0.4em;
  }

  .yourBooks {
    padding: 1em;
  }
  h2 {
    margin-bottom: 1em;
  }
  .bookContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card,
  .demoCard {
    width: 70%;
    height: 100%;
    margin-bottom: 3.5em;
    padding: 3.5em;
  }
  .div {
    font-size: 2.1rem;
  }
  .remove {
    width: 15em; /*width:15em*/
    font-size: 1.3rem;
  }
}
.switch {
  margin-bottom: 1em;
}
.cardContent {
  margin-bottom: 1.5em;
}
/*
.card,
.demoCard {
  padding: 1.5em;
  font-size: 1.4rem;
  margin-bottom: 3.5em;
}
title {
  font-weight: 800;
}
span {
  font-weight: 300;
}*/
/*.yourBooks {
  /*padding: 10vh;
}*/

@media only screen and (min-width: 992px) {
  .fa-book-open {
    /*  font-size: 3.5rem;*/
    font-size: 4rem;
    margin-top: 0.3em;
  }
  h1 {
    font-size: 4rem;
    font-weight: 900;
  }
  .yourBooks h2 {
    font-size: 3.5rem;
  }
  .bookContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .card,
  .demoCard {
    width: 45%;
    height: 80vh;
    margin: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .btn-add {
    width: 250px; /*35vw;*/
  }
  .card,
  .demoCard {
    width: 50vmin;
    height: 70vh;
  }
  .div {
    font-size: 1.5rem;
  }
  .remove {
    width: 150px;
    height: 40px;
    font-size: 1rem;
  }
  .title {
    font-size: 1.6rem;
  }

  form {
    width: 20rem;
    height: 70%;
    top: 60vw;
    left: 25vw;
    padding: 15px;
    /*opacity: 0.9;*/
  }
  input {
    margin: 40px;
    width: 15em;
    font-size: 15px;
  }
  .submit {
    width: 55%;
    height: 12%;
    border-radius: 20px;
    font-size: 15px;
  }
}
